<%= random_snapshot -%>

<h3>Donation Levels</h3>

<p>
Here are some examples of what your money can buy for a neighborhood in need:
</p>

<p>BERRY BUSH OR VINE, $25</p>

<p>Provides a community with up to 10 pounds of fruit/year for a decade or more!</p>
<p>FRUIT OR NUT TREE, $60</p>
<p>Provides a community up to 150 pounds of fruit/year for decades to come!</p>
<p>POLLINATOR GARDEN, $120</p>
<p>Transform an orchard into a food forest!  Supports a fruit tree with companion plantings of perennial flowers, herbs, and groundcovers that build soil quality and attract pollinators and other beneficial insects!</p>
<p>ADOPT AN ORCHARD, $1200</p>
<p>We now invite you to directly sponsor our support of existing orchard sites,
  including consulting visits, pruning assistance, scholarships to educational
  opportunities, etc!  Read more about our current <%= link_to 'orchard
  partners', '/orchards' %>.</p>
<p>SPONSOR A NEW ORCHARD!</p>
<p>Larger donations can bring full orchards to a community in need.  New
  orchards vary widely in scale and generally range from $3000 to $10,000 to
  sponsor.  Please contact Executive Director Phil Forsyth
  (phil@phillyorchards.org) to find out more about specific sponsorship
  opportunities.  </p>

<h3>How to Donate:</h3>

<ul>
  <li>Send a check made payable to "Philadelphia Orchard Project" to 
    <br/>Philadelphia Orchard Project
    <br/>c/o Phil Forsyth, Executive Director
    <br/>4934 Larchwood Ave
    <br/>Philadelphia, PA 19143
  </li>
  <li>
    Make a one-time donation online through <%= link_to 'PAYPAL',
                                                'http://www.paypal.com' %>
  </li>
  <li> <b>New!</b> Donate monthly. Choose the option below and Paypal will
    automatically bill you each month for a year at the payment level you
    choose:
    <br/>
    <%= render :partial => 'paypal_form' %>
  </li>
</ul>

<h3>Business Sponsorship Opportunities</h3>

<p>We’d like to consider all the ways your company can invest and express confidence in our community’s ­future by nurturing an orchard, reaching thousands of volunteers and supporters in the process. Here is a list of sponsorship suggestions that can be tailored to your imagination, budget, and commitment:</p>

<p>SPONSOR A HARVEST FESTIVAL, $500</p>
  
<p>Community harvest festivals are held at orchard sites in Spring, Summer, and
  Fall; sponsor is recognized in publicity and signage.</p>
  
<p>ADOPT AN ORCHARD, $1200</p>

<p>Sustain the ongoing support we provide to a POP community orchard partner;
  sponsor is recognized in site signage and publicity.
  See what <%= link_to 'orchard partners', '/orchards' %> are in proximity to
your business. </p>

<p>SPONSOR POP T-SHIRTS, $1500</p>

<p>T-Shirts with POP and sponsor’s logo distributed to a hundred volunteers.</p>

<p>SPONSOR PHILADELPHIA ORCHARD WEEK, $5000</p>

<p>Our annual city-wide celebration held every October, with 15 events and over 2200 participants last year; sponsor recognized in publicity and signage. </p>

<p>SPONSOR THE PHILADELPHIA ORCHARD PROJECT, $20,000</p>

<p>Support POP and all our programs for a year!  Sponsor recognized in signage, publicity, t-shirts, etc. </p>

<p>If you are interested in exploring these or other sponsorship opportunities, please contact Executive Director Phil Forsyth (phil@phillyorchards.org). POP is also happy to accept direct donations or in-kind goods and services. </p>
