<%= random_snapshot -%>

<h3 class="note">Join us! Serve on a POP Committee!
</h3>

<p>POP is always looking for dedicated volunteers to help select and support orchard planting partners; plan events and do outreach; or assist with fundraising. 
</p>


<h3>ORCHARD COMMITTEE
</h3>

<p>Coordinated by POP Orchard Director Phil Forsyth, this committee does POP’s core work: Evaluating and coordinating with potential planting partners. Working with community-based groups to plan and plant orchards. Providing long-term follow up for orchard care.
</p>
<p>The Orchard Committee consists of staff, board members, and volunteers and meets three or four times a year. Members are expected to come to at least two meetings per year and participate as a liaison for at least one orchard partner. Please download the <%= link_to 'orchard liaison role description', '/pdf/POP Orchard Liaison.pdf' %> for more information.  Anyone interested in joining this committee should contact Orchard Director Phil Forsyth: <%= link_to 'phil@phillyorchards.org', 'mailto:phil@phillyorchards.org' -%>
</p>

<h3>EVENTS COMMITTEE</h3>
<p>
  POP’s Events Committee organizes non-planting-related events,
  including happy hours &amp; house parties, helps with tabling at events,
  and solicits in-kind donations from local businesses to support these
  events. If you have an interest and experience planning events, please
  consider helping POP! Send an email to
  <%= link_to 'info@phillyorchards.org', 'mailto:info@phillyorchards.org' %>
  to learn more.
</p>

<h3>FUNDRAISING COMMITTEE</h3>
<p>
  Do you know how to write grants or raise funds? POP welcomes
  experienced fundraisers to help sustain and expand our impacts. Help
  with grant-writing or editing, and donor or grantee
  identification. Contact Kim Jordan at
  <%= link_to 'kjordan@phillyorchards.org', 'mailto:kjordan@phillyorchards.org' %>
  to learn more.
</p>


<h3>EDUCATION COMMITTEE</h3>
<p>
  Members of this fledgling committee will work hand-in-hand with
  volunteers from the orchard committee as well as POP board members to
  help us develop educational materials about orchard care, nutrition,
  composting, weed identification, pest control... just to get started!
  If you would like to donate your expertise in curriculum development
  (or identification of already-published materials that we could get
  permission to use), or in graphic design, please contact
  <%= link_to 'kjordan@phillyorchards.org', 'mailto:kjordan@phillyorchards.org' %>
  to learn more.
</p>
