<%= random_snapshot -%>

<h3>Welcome to our website!</h3>

<p>
  <strong>Mission:</strong> The Philadelphia Orchard Project plants and supports community orchards in the city of Philadelphia.
</p>

<p>
POP works with community-based groups and volunteers to plan and plant orchards filled with useful and edible plants. POP provides the plants, trees, and training. Community organizations own, maintain, and harvest the orchards, expanding community-based food production. Orchards are planted in formerly vacant lots, community gardens, schoolyards, and other spaces, almost exclusively in low-wealth neighborhoods where people lack access to fresh fruit.
</p>

<p>Please join POP in building community food security for Philadelphia’s future!</p>



<p>
  <iframe width="420" height="315"
          src="http://video.pbs.org/viralplayer/2365511480"
          frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
          seamless></iframe>
</p>






<p>
  A few highlights from 2014:
  <ul>
    <li> Planted 5 new city orchards with community partners and volunteers and
    expanded many existing orchard sites. </li>
    <li> Added 255 fruit & nut trees, 212 berry bushes & vines, and 2565
    perennials to city orchards. </li>
    <li> Celebrated our 4th annual Philadelphia Orchard Weekend with over 1700
    participants at harvest festivals and other events at 11 orchard sites
    across the city.</li>
    <li> POP's annual orchard survey revealed that 2000 Philadelphians tasted
    something grown in our orchards in 2014, 2500 participated in orchard care,
    3700 participated in educational programs, and 4100 used them as gathering
    spaces.  </li>
    <li> Received new grants from the Leo & Peggy Pierce Foundation, Renew Foundation
      (UPenn), Henrietta Tower Wurts Memorial (Philadelphia Foundation), and the
      Association for Community Trees.    </li>
  </ul>
</p>


<h3>You can Help</h3>
Please help us achieve our mission by
<%= link_to 'signing up for our listserv', :controller => :volunteer, :action => :signup  %>,
<%= link_to 'volunteering', :controller => :volunteer, :action => :index %>,
or <%= link_to 'making a tax-deductible donation', :controller => :donate, :action => :index %>.

<%= image_tag 'earthshare.jpg', :class => 'earthshare' %>

<h3>Spring 2015 POP Newsletter</h3>
<iframe id="newsletter" src="/newsletter.html" scrolling="auto"
        width="700" height="400" onLoad="autoResize('newsletter');"></iframe>
