<%= random_snapshot -%>

<h3>How to Partner with POP in Planting an Orchard</h3>

<p>
  Every POP orchard is planted in collaboration with a community
  partner.  POP provides orchard design assistance, plant materials,
  help with event organizing, and training in orchard care.  The
  community partner is responsible for ongoing care of the orchard as
  well as distribution of the harvest.
</p>

<p>
  Community groups interested in collaborating on an orchard should
  first submit a <%= link_to "POP Community Partner Application",
  '/doc/POP Partner Application.doc' %>.  This
  is followed by an evaluation conducted by POP’s Orchard Director
  and/or liaisons from the <%= link_to 'Orchard Committee',
  :controller => :volunteer, :action => :committees %>.  The primary criteria
  for selection as a community partner are: long-term legal site
  access, capacity of the group to care for an orchard, safety and
  suitability of the site itself, and plans for distribution of the
  harvest. Upon selection, POP will help guide thec ommunity partner
  through preparations for a planting.  Costs of developing an orchard
  are shared between POP and its partners on a sliding scale.
</p>

<p>
  The process of evaluation, selection, and planting preparation
  generally takes at least 9 months and is outlined in the <%= link_to(
  'POP Partner Checklist', '/pdf/POP Partner Checklist.pdf') %>.
  Applications for fall plantings are due by January 15th and spring
  plantings by July 1st.
</p>

<p>
  Interested groups should download the <%= link_to "POP Community
  Partner Application", '/doc/POP Partner Application.doc' %>, answer
  the questions on the form, and then submit it to Orchard Director
  Phil Forsyth at <%= link_to 'phil@phillyorchards.org',
  'mailto:phil@phillyorchards.org' %> or 215-724-1247.
</p>
