<h2>Companion Planters: 
</h2>

<h3>Local food and agriculture initiatives in Philadelphia 
</h3>

<ul>
<li><%= link_to 'Back Yard Fruit Growers', 'http://byfg.org/' -%></li>
<li><%= link_to 'Eastern Pennsylvania Permaculture Guild', 'http://www.meetup.com/permie/' -%></li>
<li><%= link_to 'Fair Food Project', 'http://www.whitedogcafefoundation.com/fairfood.html#top' -%></li>
<li><%= link_to 'Farm to City', 'http://www.farmtocity.org/' -%></li>
<li><%= link_to 'Farmadelphia', 'http://www.inhabitat.com/2006/03/05/farmadelphia' -%></li>
<li><%= link_to 'Friends of Fox Chase Farm', 'http://www.foxchasefarm.org/' -%></li>
<li><%= link_to 'Greensgrow Farm', 'http://www.greensgrow.org/index.html' -%></li>
<li><%= link_to 'Institute for Innovation in Local Farming', 'http://www.somertontanksfarm.org/' -%></li>
<li><%= link_to 'Mill Creek Urban Farm', 'http://www.millcreekurbanfarm.org/' -%></li>
<li><%= link_to 'Neighborhood Gardens Association', 'http://www.ngalandtrust.org/' -%></li>
<li><%= link_to 'Penn State Agricultural Extension – Philadelphia County', 'http://philadelphia.extension.psu.edu/' -%> </li>
<li><%= link_to 'Pennsylvania Association for Sustainable Agriculture', 'http://www.pasafarming.org/' -%></li>
<li><%= link_to 'Pennsylvania Horticultural Society – Philadelphia Green, City Harvest', 'http://www.pennsylvaniahorticulturalsociety.org/phlgreen/index.html' -%></li>
<li><%= link_to 'PhilAbundance', 'http://www.philabundance.org/' -%></li>
<li><%= link_to 'Philadelphia Urban Farmer Network', 'http://groups.google.com/group/pufn' -%></li>
<li><%= link_to 'Saul Agricultural High School', 'http://www.phila.k12.pa.us/schools/saul/' -%> </li>
<li><%= link_to 'SHARE Food Program', 'http://www.sharefoodprogram.org/' -%></li>
<li><%= link_to 'Teens 4 Good', 'http://teens4good.orbius.com/default.home' -%></li>
<li><%= link_to 'The Food Trust', 'http://www.thefoodtrust.org/' -%> </li>
<li><%= link_to 'Urban Nutrition Initiative', 'http://www.urbannutrition.org/about.html' -%></li>
<li><%= link_to 'Urban Tree Connection', 'http://urbantreeconnection.org/' -%></li>
<li><%= link_to 'Weavers Way Farm', 'http://weaversway.coop/index.php?page=the_farm' -%></li>
</ul>
	
<h3>Orchard & Gleaning Groups in Other Cities</h3>

<ul>
<li><%= link_to 'Asheville NC Buntiful Cities Project', 'http://www.bountifulcitiesproject.org/index.html' -%></li>
<li><%= link_to 'Austin TX Treefolks Urban Orchard Program', 'http://www.treefolks.org/prog_urban_orchard.asp' -%></li>
<li><%= link_to 'Boston MA Earthworks Urban Orchard Program', 'http://www.earthworksboston.org/urbanorchards' -%></li>
<li><%= link_to 'Common Vision (CA)', 'http://www.commonvision.org/' -%></li>
<li><%= link_to 'Dorset (UK) Common Ground Community Orchards', 'http://www.commonground.org.uk/' -%></li>
<li><%= link_to 'East of England Apples & Orchards Project', 'http://www.applesandorchards.org.uk/' -%></li>
<li><%= link_to 'London Orchard Project', 'http://thelondonorchardproject.org/' %></li>
<li><%= link_to 'Los Angeles CA Fallen Fruit', 'http://www.fallenfruit.org/' -%> </li>
<li><%= link_to 'Los Angeles CA TreePeople Fruit Tree Program', 'http://www.treepeople.org/vfp.dll?OakTree~getPage~&PNPK=28' -%></li>
<li><%= link_to "Neighborhood Fruit", "http://neighborhoodfruit.com/" -%></li>
<li><%= link_to 'Nelson BC Earth Matters Fruit Tree Project', 'http://earthmatters.ca/fruittree.php' -%></li>
<li><%= link_to 'Olympia WA Gleaners Coalition', 'http://www.gleanerscoalition.org/' -%></li>
<li><%= link_to 'Portland OR Fruit Tree Project', 'http://www.portlandfruit.org' -%></li>
<li><%= link_to 'Portland OR Urban Gleaners', 'http://www.urbangleaners.org/' -%></li>
<li><%= link_to 'Richmond BC Fruit Tree Sharing Project', 'http://www.richmondfruittree.com/ ' -%> </li>
<li><%= link_to 'Seattle WA Lettuce Link Community Fruit Tree Harvest', 'http://www.solid-ground.org/Programs/Nutrition/Lettuce/Pages/TheCommunityFruitTreeHarvest2007.aspx' -%> </li>
<li><%= link_to 'Urban Forestry South (US)', 'http://www.urbanforestrysouth.org/' -%></li>
<li><%= link_to 'Victoria BC Fruit Tree Project', 'http://www.vcn.bc.ca/fruit/' -%></li>
<li><%= link_to 'Victoria BC #2 LIfecycles Fruit Tree Project', 'http://www.lifecyclesproject.ca/initiatives/fruit_tree/' -%></li>     
<li><%= link_to 'Village Harvest (CA)', 'http://www.villageharvest.org/' -%></li>
</ul>


<h3>Other resources: 
</h3>

<ul>
<li><%= link_to 'City Farmer urban agriculture news', 'http://www.cityfarmer.info/' -%>	</li>
<li><%= link_to 'Green spaces promote good health, says study', 'http://www.guardian.co.uk/society/2008/nov/07/social-exclusion-health' -%></li>
<li><%= link_to 'Intro to Urban Eco-Orchards', '/pdf/urban_eco_orchards.pdf' -%></li>
<li><%= link_to 'Orchards crop up around the city', 'http://www.philly.com/philly/news/local/20081110_Orchards_crop_up_around_the_city.html' -%></li>
<li><%= link_to 'Urban agriculture reports & resources:', 'http://journeytoforever.org/cityfarm_link.html' -%> </li>
<li><%= link_to 'Protecting our Orchard Heritage: A good practice guide for managing orchard projects', 'http://www.sustainweb.org/page.php?id=122' -%>, from Sustain (UK)</li>
</ul>
