<h3>Permaculture = Permanent + Agriculture = How POP plants</h3>

<%= random_snapshot -%>


<p>POP plants orchards according to permaculture forest gardening techniques, with a canopy of dwarf or semi-dwarf trees, middle “layers” of berry bushes, and an under-story of perennials that help attract beneficial insects, deter pests, build soil fertility, and avoid the need to spray toxic chemicals. 
</p>

<p>The exact mix of trees and plants in each orchard depends upon our community partner’s preferences as well as permaculture strategies for sustaining healthy orchards. Most orchards are designed to bear fruit over a long season, with the exception of orchards in schoolyards where early summer and fall fruits are typically planted. 
</p>

<p>
	To learn more about how and what POP plants, download our: 
	<br/>
	<%= link_to 'Intro to Urban Eco-Orchards', '/pdf/urban_eco_orchards.pdf' -%>
	<br/>
	<%= link_to 'Summary of Orchard Care', '/pdf/orchard_care.pdf' -%>
</p>

<p>
POP has also created the <%= link_to 'Philadelphia Orchard Group (PHOG) listserv', 'http://groups.google.com/group/phog' %> to help connect orchard caretakers and fruit growers in the Philadelphia area.  Please join if you're interested in learning more about orchard care or fruit growing.
</p>

<h3>New!</h3>
<p>
  Check out POP's <%= link_to 'Pruning Guide',
 "/doc/POP%20Pruning%20Guide.doc" %> for Fruit Trees, Berry Bushes, and
 Fruiting Vines!

</p>
