<h2><%= @section_title %></h2>

<table class="resources">
  <th>
    Organization
  </th>
  <th>
    Description
  </th>
  <th>
    Type
  </th>
  <th>
    Audience
  </th>
  <% @resources.each { |resource| %>
  <tr>
    <td>
      <% if resource.organization == 'POP' %>
      POP
      <% else %>
      <%= link_to resource.organization, resource.url, target: '_new' %>
      <% end %>
    </td>
    <td>
      <% if resource.organization == 'POP' %>
      <%= link_to resource.description, resource.url, target: '_new' %>
      <% else %>
      <%= resource.description %>
      <% end %>
    </td>
    <td><%= resource.nature %></td>
    <td><%= resource.audience %></td>
  </tr>
  <% } %>
</table>
