<h2><%= @section_title %></h2>

<table class="resources">
  <th>
    Organization
  </th>
  <th>
    Description
  </th>
  <th>
    Type
  </th>
  <th>
    Audience
  </th>
  <% @resources.each { |resource| %>
  <tr>
    <td>
      <% if resource.organization == 'POP' %>
      POP
      <% else %>
      <%= link_to resource.organization, resource.url, target: '_new' %>
      <% end %>
    </td>
    <td>
      <% if resource.organization == 'POP' %>
      <%= link_to resource.description, resource.url, target: '_new' %>
      <% else %>
      <%= resource.description %>
      <% end %>
    </td>
    <td><%= resource.nature %></td>
    <td><%= resource.audience %></td>
  </tr>
  <% } %>
</table>

<% if params[:id] == 'pop_handouts' %>
<br/><br/>
<h2>POP Weed Identification Guide</h2>
<p>
  <iframe width="420" height="315" src="http://video.pbs.org/viralplayer/2365512010" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" seamless></iframe>
</p>
<p>The Philadelphia Orchard Project’s new Weed Identification Guide is now available for purchase at POP outreach events, at some area nurseries, and via mail order.  The price for mail delivery is $18/guide; please email info@phillyorchards.org to order or for more information.  We are happy to provide reduced pricing for orders of 10 or more copies.</p>
<% end %>
