<h2><%= @section_title %></h2>

<table class="resources">
  <th>
    Organization
  </th>
  <th>
    Description
  </th>
  <th>
    Type
  </th>
  <th>
    Audience
  </th>
  <% @resources.each { |resource| %>
  <tr>
    <td><%= link_to resource.title, resource.url, target: '_new' %></td>
    <td><%= resource.description %></td>
    <td><%= resource.nature %></td>
    <td><%= resource.audience %></td>
  </tr>
  <% } %>
</table>
